<% if @Course %>
    <h3>List of Courses</h3><br/>
    <table class="table">
      <tr>
        <th class="col-md-1">Course title</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
      <% @Course.each do |course| %>
          <tr>
            <td><%= course.title %></td>
            <td><%= link_to 'View details', view_course_path(course), :class => 'btn btn-success' %></td>
            <td><%= link_to 'Edit details', edit_admin_course_path(course), :class => 'btn btn-warning' %></td>
            <td><%= link_to 'Delete', delete_course_path(course), :class => 'btn btn-warning' %></td>
          </tr>
      <% end %>
    </table>
    <%= link_to 'Create new course', '/admins/manage_course/create_course', :class => 'btn btn-info' %>
<% end %>