<ul class="list-group">
  <li class="list-group-item">Course Number:   <%= @Course.coursenumber %></li>
  <li class="list-group-item">Title:           <%= @Course.title %></li>
  <li class="list-group-item">Description:     <%= @Course.description %></li>
  <li class="list-group-item">Start Date:     <%= @Course.start_date %></li>
  <li class="list-group-item">End Date:     <%= @Course.end_date %></li>
  <li class="list-group-item">Status :      <% if @Course.status == true%>
        Active
    <% else %>
        InActive
    <% end %>
  </li>
  <li class="list-group-item">Instructor :  <%= Instructor.find(@Course.instructor_id).name%></li>
</ul>


<% if @material %>
    <h3>Course Material and Announcements</h3> <br>
    <table class="table">
      <tr>
        <th class="col-md-1">Title</th>
        <th class="col-md-1">Description</th>
        <th class="col-md-1">Material Type</th>
      </tr>
      <% @material.each do |f| %>
          <tr>
            <td><%= f.title %></td>
            <td><%= f.description %></td>
            <td><%= f.material_type %></td>
          </tr>
      <% end %>
    </table>
<% end %>


<%= link_to 'Back', '/admins/manage_course', :class => 'btn btn-info' %>
