<h1>Add Content</h1>
<%= bootstrap_form_for(@coursepage_material, url: '/coursepage_materials/create') do |f| %>
    <div class="form-group">
      <%= f.select(:material_type, options_for_select([['Deadline', 1], ['Notification', 2]]), {}, {class: 'form-control'}) %>
    </div>
    <%= f.text_field :title, :placeholder => 'Title' %>
    <%= f.text_field :description, :placeholder => 'Description' %>
    <%= f.hidden_field :course_id, value: params[:course_id] %>
    <%= f.submit 'Add', class: ' btn btn-submit btn-success' %>
    <nbsp></nbsp>
    <% if @user_authenticated.type == 'Instructor' %>
        <%= link_to 'Back', courses_list_courses_path(:course_id => params[:course_id]), :class => 'btn btn-info' %>
    <% elsif @user_authenticated.type == 'Admin' %>
        <%= link_to 'Back', admins_manage_course_path, :class => 'btn btn-info' %>
    <% end %>
<% end %>