<ul class="nav navbar-nav">
  <li><li style="padding: 2px"><%= link_to 'Add Content', coursepage_materials_new_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Post Grades', grades_students_list_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Enrollment requests', enrollments_index_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Remove Students', remove_students_index_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Message', instructor_message_view_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>

</ul>