<ul class="nav navbar-nav">
  <li><li style="padding: 2px"><%= link_to 'Add Content', coursepage_materials_new_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Post Grades', grades_students_list_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Enrollment requests', enrollments_index_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Remove Students', remove_students_index_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Messages', instructor_message_view_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
  <li><li style="padding: 2px"><%= link_to 'Inactivate Course', course_inactivate_request_path(:course_id => params[:id]), method: 'get', class: 'btn btn-info' %></li></li>
</ul>

<br/><br/><br/><br/>
<% if @material %>
    <h3>Course Material and Announcements</h3> <br>
    <table class="table">
      <tr>
        <th class="col-md-1">Title</th>
        <th class="col-md-1">Description</th>
        <th class="col-md-1">Material Type</th>
      </tr>
      <% @material.each do |f| %>
          <tr>
            <td><%= f.title %></td>
            <td><%= f.description %></td>
            <td><%= f.material_type=="1" ? 'Deadline' : 'Notification' %></td>




          </tr>
      <% end %>
    </table>
<% end %>
<%= link_to 'Back',courses_list_courses_path , :class => 'btn btn-info' %>

