<!DOCTYPE html>
<html>
<head>
  <title>CSC517 Class Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if @user_authenticated %>
          <ul>
            <li><%= @user_authenticated.email %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>